<div class="row">
  <div class="shadow-lg col-sm-4 p-3">
    <div class="card">
      <img class="propImg" src="https://d2skuhm0vrry40.cloudfront.net/2020/articles/2020-03-19-14-22/animal-crossing-house-upgrades-expansions-costs-7018-1584627775997.jpg/EG11/resize/1200x-1/animal-crossing-house-upgrades-expansions-costs-7018-1584627775997.jpg">
      <div class="card-body p-2">
        <h1>{{Property.Name}}</h1>
        <h2>{{Property.Type}}</h2>
        <h3>{{Property.Price}}</h3>
      </div>
    </div>
  </div>
</div>
