<div class="card">
  <div class="card-img-wrapper">
    <img class="card-img-top" src="https://d2skuhm0vrry40.cloudfront.net/2020/articles/2020-03-19-14-22/animal-crossing-house-upgrades-expansions-costs-7018-1584627775997.jpg/EG11/resize/1200x-1/animal-crossing-house-upgrades-expansions-costs-7018-1584627775997.jpg">
    <ul class="list-inline text-center member-icon animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/property-detail/{{property.Id}}" ><i class="far fa-edit"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="fas fa-phone-alt"></i></button>
      </li>
    </ul>
  </div>
  <div class="card-body p-2">
    <h1>{{property.Name}}</h1>
    <h2>{{property.Type}}</h2>
    <h3>{{property.Price}}</h3>
  </div>
</div>
